body {
	background-color: #d4be98;
}

.bg-gruvbox {
	background-color: #292828;
}

.gruvbox-kuning {
	background-color: #d8a657;
}

.gruvbox-hijau {
	background-color: #a9b665;
}

.gruvbox-abu {
	background-color: #5a524c;
}
