<div class="container">
	<div class="row">
		<div class="col text-center">
			<!--  By Default file statis image, audio, video, pdf, dll tdk dpt diakses oleh express (dilindungi) --!>
			<!--  Solusi gunakan middleware statis() di halaman app.js fungsi app.use() --!>
			<!--  Panggi Source nya langsung dr `img` karna sudah path otomatis ke folder public/ --!>
			<img src="img/my-pp.jpg" class="img-thumbnail rounded-circle"alt="Gambar gua" width="200px">
			<h1> <%= title %></h1>
			<p class="lead"><%= desc %></p>
		</div>
	</div>
</div>
		
		
